<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Handler -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="Rsace.commands.category"
            id="Rsace.commands.initcommand"
            name="Remote Synchronization with Rsace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.joeddev.rsace.handlers.InitHandler"
            commandId="Rsace.commands.initcommand">
      </handler>
   </extension>
   <!-- Menu -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command
                  commandId="Rsace.commands.initcommand"
                  id="TestPopupMenu.menus.sampleCommand"
                  icon="icons/syn.png"
                  mnemonic="S">
 
                    <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate
				                 ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*.java" />
				             </adapt>
				            </iterate>
				           </with>
         			</visibleWhen>
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.joeddev.rsace.preferences.RsacePreferencesPage"
            id="com.joeddev.rsace.preferences.RsacePreferences"
            name="Rsace">
           
      </page>
      <page
            class="com.joeddev.rsace.preferences.DVTPreferencesPage"
            id="com.joeddev.rsace.preferences.RsacePreferences"
            name="Developers Team"
            category="com.joeddev.rsace.preferences.RsacePreferences">
           
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.joeddev.rsace.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
